.grid-list-styles {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
}
.title-styles {
    position: absolute;
    left: 0px;
}

.divider-style {
    width: 100%; 
    margin-top:25px;
}

.text-style {
    margin-top:1px;
    margin-bottom: 1px;
    margin-left: 25px;
    margin-right: 25px;
}

.encuesta-style {
    margin-top: 50px;
}